a {
    text-decoration: underline;
    color: #0000ff;
}

.nav li a:hover, a:focus {
    color: #000000;
    text-decoration: underline;
}

.navbar {
    margin-bottom: 0;
}

ol.breadcrumb {
    margin-bottom: 1px;
}

hr {
    margin-bottom: 1px;
}
