table.DataTable {
    border: 1px solid #dadada;
    background-color: #fafafa;
    width: 100%;
    font-size: small;
    /*font-family: Verdana;*/
}

table.DataTable tr td a {
    text-decoration: underline;
    color: #0000FF;
}

table.DataTable thead {
    font-weight: bold;
}

table.DataTable thead td {
    border: 0;
}

table.DataTable thead tr {
    font-weight: bold;
    border: 0;
}

table.DataTable td {
    border: 1px solid #dadada;
}

table.DataTable tr {
    border: 1px solid #dadada;
}

table.DataTable tr:hover {
    background-color: #fcf8e3;
}

tr.disabled td {
    color: #dadada;
    font-style: italic;
}

tr.disabled td a:visited {
    color: #dadada;
    font-style: italic;
}

tr.disabled td a:link {
    color: #dadada;
    font-style: italic;
}