{% extends 'base_page.html' %}

{% block css %}
    <style type="text/css">
        a.smallLink {
            font-size: x-small;
            color: #0000ff;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        function deleteQuestionSet(url) {
            if (confirm('Удалить безвозвратно?')) {
                window.location.replace(url);
            }
        }
    </script>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if user.is_superuser %}
    <li>
    <form method="GET" action="{% url 'url_new_qs' %}">
        <input type="submit" class="btn btn-primary pretty"
               value="Добавить тест" />
    </form>
    </li>
    {% else %}
    <li class="active">Список тестов</li>
    {% endif %}
</ol>
{% endblock %}

{% block body %}

    {% for form in formset %}
    <div class="panel panel-default" style="margin: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">
                Тест "{{ form.instance.title }}"
                {% if user.is_superuser %}
                    <a class="smallLink"
                       href="{% url 'url_edit_qs' form.instance.pk %}">[Изменить]</a>
                    <a class="smallLink"
                       href="javascript:deleteQuestionSet('{% url 'url_remove_qs' form.instance.pk %}')">[Удалить]</a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="smallLink" href="{% url 'url_list_question' form.instance.pk %}">[Редактировать вопросы]</a>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            {% if form.instance.description %}
            <b>Описание:</b><br/>
            {{ form.instance.description }}
            {% endif %}

            <br/>
            <br/>
            <b>Время на прохождение:&nbsp;</b>{{ form.instance.max_time }}

            <br />
            <br />
            {% if request.session.testing_id %}
                У вас есть незавершенный тест.
                <a href="{% url 'url_show_question' %}"
                   style="font-weight: bold;">> Возобновить тест <</a>
            {% else %}
                <a href="{% url 'url_start_testing' form.instance.id %}"
                   style="font-weight: bold;">> Начать тест <</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}


{% endblock %}