{% extends 'base_page.html' %}
{% load quiz_filters %}

{% block css %}
    <style type="text/css">
        a.smallLink {
            font-size: x-small;
            color: #0000ff;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        function deleteQuestionSet(url) {
            if (confirm('Удалить безвозвратно?')) {
                window.location.replace(url);
            }
        }
    </script>
{% endblock %}

{% block body %}

    {% for form in formset %}
    <div class="panel panel-default" style="margin: 20px auto; width: 700px">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% if user.is_superuser %}
                    <div class="dropdown">
                        <a id="dLabel" data-target="#"
                           href="#" data-toggle="dropdown"
                           aria-haspopup="true" role="button"
                           aria-expanded="false">
                            Тест "{{ form.instance.title }}"
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li>
                                <a href="{% url 'url_edit_qs' form.instance.pk %}">Изменить</a>
                            </li>
                            <li>
                                <a href="javascript:deleteQuestionSet('{% url 'url_remove_qs' form.instance.pk %}')">Удалить</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'url_list_question' form.instance.pk %}">Редактировать вопросы</a>
                            </li>
                            <li>
                                <a href="{% url 'url_history' form.instance.pk %}">История</a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    Тест "{{ form.instance.title }}"
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            {% if form.instance.description %}
                <b>Описание:</b><br/>
                {{ form.instance.description }}
            {% endif %}

            <br/>
            <br/>
            <b>Время на прохождение:&nbsp;</b>{{ form.instance.max_time|human_duration }}
            <br />
            <b>Кол-во вопросов:&nbsp;</b>{{ form.instance.question_set.all|length }}

            <br />
            <br />
            {% if request.session.testing_id %}
                У вас есть незавершенный тест.
                <a href="{% url 'url_show_question' %}"
                   class="btn btn-warning"
                   style="text-decoration: none;">Возобновить тест</a>
            {% else %}
                <a href="{% url 'url_start_testing' form.instance.id %}"
                   class="btn btn-success"
                   style="text-decoration: none;">Начать тест</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}


{% endblock %}
