{% extends 'base_page.html' %}
{% load content %}

{% block title %}
    {% if form.instance.pk %}
        Тест "{{ form.instance.title }}"
    {% else %}
        Новый тест
    {% endif %}
{% endblock %}

{% block body %}

<form method="POST" action="{% url 'url_save_qs' %}">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="hidden" name="pk" value="{{ form.instance.pk|to_str }}" />
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <input class="btn btn-primary btn-sm" type="submit" value="Сохранить" />
</form>

{% endblock %}