{% extends 'base_page.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Список тестов</a></li>
  <li><a href="{% url 'url_edit_qs' qs.pk %}">Тест "{{ qs.title }}"</a></li>
  <li><a href="{% url 'url_list_question' qs.pk %}">Вопросы</a></li>
  <li class="active">
      {% if form.instance.pk %}
          Вопрос {{ form.instance.pk }}
      {% else %}
          Новый вопрос
      {% endif %}
  </li>
</ol>
{% endblock %}

{% block body %}

<div class="panel panel-default" style="margin: 20px auto; width: 800px;">
    <div class="panel-heading">
        <h3 class="panel-title">Вопрос</h3>
    </div>
    <div class="panel-body">
<form method="POST" enctype="multipart/form-data"
      action="{% url 'url_save_question' form.instance.id %}">
{% csrf_token %}

    <div class="form-group">
        {{ form.html_text.label_tag }}
        {{ form.html_text }}
    </div>

    <div class="form-group">
        {{ form.image.label_tag }}
        {{ form.image }}
    </div>

    <h4 class="panel-title" style="margin-top: 20px;">Варианты ответов
        <div style="position: relative; float: right; text-align: right">
        <a href="{% url 'url_add_answer' form.instance.id %}" style="text-align: right">
            <span class="glyphicon glyphicon-plus-sign"
                style="color: green" aria-hidden="true"></span>Добавить
        </a>
       </div>
    </h4>
    <hr style="margin: 0; padding: 0 0 10px 0;" />
    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th>Правильный?</th>
                <th>Текст</th>
                <th>Картинка</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for answer in answers %}
        <tr>
            <td>{{ answer.is_right }}</td>
            <td>
                {{ answer.html_text }}
                {% for hidden_field in answer.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
            </td>
            <td>{{ answer.image }}</td>
            <td>
                <a href="{% url 'url_remove_answer' answer.instance.id %}"
                   class="btn btn-danger">Удалить</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {{ answers.management_form }}

    <input type="hidden" name="qs_id" value="{{ qs.pk }}" />

    <div style="width: 100%; text-align: center">
        <input class="btn btn-primary pretty" type="submit" value="Сохранить" />
    </div>

</form>
    </div>
</div>

{% endblock %}
