{% extends 'base_page.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Список тестов</a></li>
  <li><a href="{% url 'url_edit_qs' qs.id %}">Тест "{{ qs.title }}"</a></li>
  <li class="active">Вопросы</li>
</ol>
{% endblock %}

{% block body %}
    <span class="glyphicon glyphicon-plus-sign"
          style="color: green; padding-left: 7px; padding-top: 10px"
          aria-hidden="true"></span>
    <a href="{% url 'url_new_question' qs.id %}">Добавить</a>
    <hr style="margin: 0; padding: 0 0 10px 0;" />

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Вопрос</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    {% for question in questions %}
        <tr>
            <td>
                <a href="{% url 'url_edit_question' question.id %}"
                   style="font-size: x-small;">
                    <b>[[Редактировать]]</b>
                </a>
            </td>
            <td>{{ question.html_text }}</td>
            <td>{{ question.updated }}</td>
            <td style="text-align: right">
                <form action="{% url 'url_remove_question' question.id %}"
                      method="POST">{% csrf_token %}
                    <input type="submit" class="btn btn-danger pretty"
                            value="Удалить" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
