{% extends 'base_page.html' %}

{% block title %}История {{ question_set.title }}{% endblock %}

{% block css %}
    <style>
        table.table tr.red {
            background-color: #ff3333;
            color: white;
            /*font-weight: bold;*/
        }

        table.table tr.green {
            background-color: #55ff55;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Список тестов</a></li>
  <li>
  <a href="{% url 'url_history' quiz.question_set.id %}">
      Тест "{{ quiz.question_set.title }}"
  </a>
  </li>
  <li class="active">Ответы</li>
</ol>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Когда задан вопрос</th>
                <th>Вопрос</th>
                <th>Ответ</th>
                <th>Когда был дан ответ</th>
            </tr>
        </thead>
    {% for entry in quiz_logs %}
        <tr class="{% if entry.answer.is_right %}green{% else %}red{% endif %}">
            <td>
                {{ entry.question_dt|date:"d.m.Y H:i:s" }}
            </td>
            <td>
                {{ entry.question }}
            </td>
            <td>
                {{ entry.answer }}
                {% if entry.answer.is_right %}
                    (правильно)
                {% else %}
                    (неправильно)
                {% endif %}
            </td>
            <td>
                {{ entry.answer_dt|date:"d.m.Y H:i:s" }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
