{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}MSaT (MANGO Shop assistant Testing){% endblock %}</title>

    {% block include_css %}{% endblock %}
    <link rel="stylesheet" href="http://yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/misc.css' %}" />

    {% block include_js %}{% endblock %}
    <script type="application/javascript" src="http://yastatic.net/jquery/2.1.1/jquery.min.js"></script>
    <script type="application/javascript" src="http://yastatic.net/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
</body>
</html>