{% extends 'base_page.html' %}

{% block body %}
<table>
    <tr>
        <th>Логин</th>
        <th></th>
    </tr>
{% for account in accounts %}
    <tr>
        <td>{{ account.username }}</td>
        <td>
            <form method="POST"
                  action="{% url 'url_delete_account' account.id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Удалить" />
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
